.root {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  align-content: flex-start;
  justify-items: center;
  background: var(--token-bGg_0TkxNshv);
  overflow: visible;
  min-width: 0;
  min-height: 0;
  grid-template-columns:
    var(--plsmc-viewport-gap) 1fr minmax(0, var(--plsmc-wide-chunk))
    min(
      var(--plsmc-standard-width),
      calc(100% - var(--plsmc-viewport-gap) - var(--plsmc-viewport-gap))
    )
    minmax(0, var(--plsmc-wide-chunk)) 1fr var(--plsmc-viewport-gap);
  padding: 0px;
}
.root > * {
  grid-column: 4;
}
@media (max-width: 1280px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 834px) {
  .root > * {
    grid-column: 4;
  }
}
@media (max-width: 414px) {
  .root {
    justify-items: flex-start;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
@media (max-width: 414px) {
  .root > * {
    grid-column: 4;
  }
}
.freeBox___8W6F {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-shrink: 1;
  z-index: 2;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 15% 0px var(--token-bEWg0HhLsmkm);
  margin: 0px;
}
@media (max-width: 1280px) {
  .freeBox___8W6F {
    padding-left: var(--token-_wgRLw0QAhYd);
    padding-right: 15%;
  }
}
@media (max-width: 834px) {
  .freeBox___8W6F {
    padding-right: 0px;
    padding-left: 0px;
    background: linear-gradient(
        0deg,
        var(--token-_NHLSimpt97D) 0%,
        var(--token-bGg_0TkxNshv) 17%,
        var(--token-bGg_0TkxNshv) 72%,
        var(--token-_NHLSimpt97D) 87%
      )
      0% 0% / 100% 100% repeat;
  }
}
@media (max-width: 414px) {
  .freeBox___8W6F {
    padding-left: 5%;
    padding-right: 5%;
    width: 100%;
    left: auto;
    top: auto;
    height: 80vh;
    align-items: center;
    justify-content: flex-start;
    min-width: 0;
    flex-shrink: 0;
  }
}
.freeBox__krrTo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 834px) {
  .freeBox__krrTo {
    z-index: 2;
    height: 100%;
    align-items: flex-start;
    justify-content: center;
    padding: 0vh 5%;
  }
}
@media (max-width: 414px) {
  .freeBox__krrTo {
    padding: 0px;
  }
}
.text___4RlGj {
  color: var(--token-SVxpiTsWaARq);
  width: auto;
  text-align: left;
  font-size: var(--token-ElOYelXEOq__);
  font-family: var(--token-dDzrSlQjRY1Q);
  line-height: var(--token-R4ydVHgDbagl);
  letter-spacing: -0.26px;
  align-self: center;
  padding: 10px;
}
@media (max-width: 1280px) {
  .text___4RlGj {
    font-size: var(--token-N5NhUUm9Uc9E);
    line-height: var(--token-fCtWSYd3eajl);
  }
}
@media (max-width: 834px) {
  .text___4RlGj {
    font-size: var(--token-4--8VrVTttwh);
    line-height: var(--token-jXjYXy0S7lfy);
    letter-spacing: -0.2px;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .text___4RlGj {
    font-size: var(--token-cgi-VVXu9B8k);
    letter-spacing: -0.15px;
    line-height: var(--token-6WAQQzl2D8xY);
    padding: 0px;
  }
}
.menuStack {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  left: auto;
  top: 0;
  z-index: 5;
  right: 0;
  justify-self: flex-start;
  padding: 8px 20px 8px 8px;
}
@media (max-width: 414px) {
  .menuStack {
    padding-right: 12px;
  }
}
.menu:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  flex-shrink: 0;
}
@media (max-width: 834px) {
  .menu:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
@media (max-width: 414px) {
  .menu:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.buildSystemsHeadline:global(.__wab_instance) {
  max-width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
}
@media (max-width: 834px) {
  .buildSystemsHeadline:global(.__wab_instance) {
    z-index: 1;
  }
}
.freeBox__kJg4A {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 180vh;
  max-width: 100%;
  left: auto;
  top: auto;
  z-index: 1;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 15% 0px var(--token-bEWg0HhLsmkm);
}
@media (max-width: 1280px) {
  .freeBox__kJg4A {
    padding-left: var(--token-_wgRLw0QAhYd);
    padding-right: 15%;
  }
}
@media (max-width: 834px) {
  .freeBox__kJg4A {
    padding-left: 200px;
    padding-right: var(--token-uQZCuQSjiRfZ);
    background: linear-gradient(
        0deg,
        var(--token-bGg_0TkxNshv) 0%,
        var(--token-_NHLSimpt97D) 28%
      )
      0% 0% / 100% 100% repeat;
    z-index: 2;
  }
}
@media (max-width: 414px) {
  .freeBox__kJg4A {
    padding-left: 10px;
    padding-right: 5%;
    left: auto;
    top: auto;
    height: 40vh;
    background: linear-gradient(
        0deg,
        var(--token-bGg_0TkxNshv) 26%,
        var(--token-_NHLSimpt97D) 46%
      )
      0% 0% / 100% 100% repeat;
    flex-shrink: 0;
  }
}
.text__zjo9Q {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-dDzrSlQjRY1Q);
  font-size: var(--token-QWd97N2CFUpP);
  padding-left: 0px;
  color: var(--token-SVxpiTsWaARq);
  line-height: var(--token-KlTF7dFEYqi7);
  letter-spacing: -0.45px;
  transform: none;
  padding-top: 5px;
  padding-right: 0px;
  left: 0px;
  top: 0px;
  z-index: 1;
}
@media (max-width: 1280px) {
  .text__zjo9Q {
    font-size: var(--token-xAWPHlfOiFAL);
    line-height: var(--token-mOJ06ub79zmc);
    letter-spacing: -0.45px;
    padding: 10px 0px 0px;
  }
}
@media (max-width: 834px) {
  .text__zjo9Q {
    font-size: var(--token-J2rbMU7PP8d6);
    line-height: var(--token-Y6invZeH2Eiw);
  }
}
@media (max-width: 414px) {
  .text__zjo9Q {
    font-size: var(--token-F6RLyq0hUvcp);
    line-height: var(--token-AgIACmvWYzqd);
    letter-spacing: -0.27px;
    padding: 40px 0px 0px;
  }
}
.freeBox___0OExr {
  background: none;
  width: 100%;
  height: auto;
  display: grid;
  position: relative;
  top: auto;
  left: auto;
  flex-grow: 1;
  justify-self: center;
  flex-shrink: 1;
  z-index: 2;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 2vw;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 15% 0px var(--token-bEWg0HhLsmkm);
  margin: 0px;
}
@media (max-width: 1280px) {
  .freeBox___0OExr {
    padding-left: var(--token-_wgRLw0QAhYd);
    padding-right: 15%;
    height: auto;
  }
}
@media (max-width: 834px) {
  .freeBox___0OExr {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    background: var(--token-bGg_0TkxNshv);
    padding: 0px 5%;
  }
}
@media (max-width: 414px) {
  .freeBox___0OExr {
    padding-left: 5%;
    padding-right: 5%;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: flex-end;
    height: auto;
  }
}
.freeBox___806Gz {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
.lottie:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  min-width: 0;
  min-height: 0;
}
.freeBox__rat7Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
@media (max-width: 1280px) {
  .freeBox__rat7Y {
    padding: 8px;
  }
}
@media (max-width: 834px) {
  .freeBox__rat7Y {
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox__rat7Y {
    height: auto;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
  }
}
.text__gZ4Tx {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-dDzrSlQjRY1Q);
  font-size: var(--token-z6CtvJ3PQ9AF);
  padding-left: 0px;
  color: var(--token-SVxpiTsWaARq);
  line-height: var(--token-OB5VOhztYx7g);
  letter-spacing: -0.32px;
}
@media (max-width: 1280px) {
  .text__gZ4Tx {
    font-size: var(--token-08r3RLu0ffOg);
    line-height: var(--token-gs4NytFbbacJ);
    letter-spacing: -0.24px;
  }
}
@media (max-width: 414px) {
  .text__gZ4Tx {
    font-size: var(--token-eYAWRyyKY2wH);
    line-height: var(--token-rJwSNer90YUR);
    letter-spacing: -0.18px;
  }
}
.text___8INfA {
  color: var(--token-SVxpiTsWaARq);
  text-align: left;
  font-size: var(--token-jFIU8MB4m-vt);
  font-family: var(--token-dDzrSlQjRY1Q);
  line-height: var(--token-fO4amTcSAAaU);
  letter-spacing: -0.18px;
  width: auto;
  padding: 8px 8px 8px 0px;
}
@media (max-width: 1280px) {
  .text___8INfA {
    font-size: var(--token-asQBbjhey31o);
    line-height: var(--token-892wPaHWClXl);
    letter-spacing: -0.14px;
    padding-right: 0px;
  }
}
@media (max-width: 414px) {
  .text___8INfA {
    font-size: var(--token-g18-76_42RxZ);
    line-height: var(--token-8sQbB6Ab6p7O);
    letter-spacing: -0.13px;
  }
}
.buttonExternalLink__iPNuf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 10px;
}
.freeBox__yJjTk {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 180vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 15% 0px var(--token-bEWg0HhLsmkm);
}
@media (max-width: 1280px) {
  .freeBox__yJjTk {
    padding-left: var(--token-_wgRLw0QAhYd);
    padding-right: 15%;
  }
}
@media (max-width: 834px) {
  .freeBox__yJjTk {
    background: linear-gradient(
        0deg,
        var(--token-bGg_0TkxNshv) 8%,
        var(--token-_NHLSimpt97D) 29%,
        var(--token-_NHLSimpt97D) 76%,
        var(--token-bGg_0TkxNshv) 100%
      )
      0% 0% / 100% 100% repeat;
    z-index: 2;
    height: 50vh;
    padding: 2vh var(--token-uQZCuQSjiRfZ) 2vh 200px;
  }
}
@media (max-width: 414px) {
  .freeBox__yJjTk {
    height: 40vh;
    background: linear-gradient(
        0deg,
        var(--token-bGg_0TkxNshv) 24%,
        var(--token-_NHLSimpt97D) 39%,
        var(--token-_NHLSimpt97D) 80%,
        var(--token-bGg_0TkxNshv) 100%
      )
      0% 0% / 100% 100% repeat;
    flex-shrink: 0;
    padding: 1vh 5% 1vh 10px;
  }
}
.text__nDmuv {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-dDzrSlQjRY1Q);
  font-size: var(--token-QWd97N2CFUpP);
  color: var(--token-SVxpiTsWaARq);
  line-height: var(--token-KlTF7dFEYqi7);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 5px;
}
@media (max-width: 1280px) {
  .text__nDmuv {
    font-size: var(--token-xAWPHlfOiFAL);
    line-height: var(--token-mOJ06ub79zmc);
    letter-spacing: -0.45px;
    padding: 10px 0px 0px;
  }
}
@media (max-width: 834px) {
  .text__nDmuv {
    font-size: var(--token-J2rbMU7PP8d6);
    line-height: var(--token-Y6invZeH2Eiw);
    letter-spacing: -0.45px;
  }
}
@media (max-width: 414px) {
  .text__nDmuv {
    font-size: var(--token-F6RLyq0hUvcp);
    line-height: var(--token-AgIACmvWYzqd);
    letter-spacing: -0.27px;
    padding: 40px 0px 0px;
  }
}
.freeBox__rtZvA {
  background: none;
  width: 100%;
  height: auto;
  display: grid;
  position: relative;
  top: auto;
  left: auto;
  flex-grow: 1;
  justify-self: center;
  flex-shrink: 1;
  z-index: 2;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 0px;
  grid-column-gap: 0px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px var(--token-m2pYP4iuLdNE) 0px 300px;
  margin: 0px;
}
@media (max-width: 1280px) {
  .freeBox__rtZvA {
    padding-left: var(--token-_wgRLw0QAhYd);
    padding-right: 15%;
  }
}
@media (max-width: 834px) {
  .freeBox__rtZvA {
    padding-left: 5%;
    padding-right: 5%;
    background: linear-gradient(
        0deg,
        var(--token-_NHLSimpt97D) 0%,
        var(--token-bGg_0TkxNshv) 20%
      )
      0% 0% / 100% 100% repeat;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    flex-shrink: 1;
    flex-grow: 1;
    justify-self: baseline;
    grid-row-gap: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox__rtZvA {
    padding-left: 5%;
    padding-right: 5%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 0;
    flex-shrink: 1;
    min-height: 0;
  }
}
.freeBox__diTeh {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 1280px) {
  .freeBox__diTeh {
    padding: 0px;
  }
}
@media (max-width: 834px) {
  .freeBox__diTeh {
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox__diTeh {
    height: auto;
    padding: 0px;
  }
}
.text__gDeSq {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-dDzrSlQjRY1Q);
  font-size: var(--token-z6CtvJ3PQ9AF);
  padding-left: 0px;
  color: var(--token-SVxpiTsWaARq);
  letter-spacing: -0.32px;
  line-height: var(--token-OB5VOhztYx7g);
}
@media (max-width: 1280px) {
  .text__gDeSq {
    line-height: var(--token-gs4NytFbbacJ);
    font-size: var(--token-08r3RLu0ffOg);
    letter-spacing: -0.24px;
  }
}
@media (max-width: 414px) {
  .text__gDeSq {
    font-size: var(--token-eYAWRyyKY2wH);
    line-height: var(--token-rJwSNer90YUR);
    letter-spacing: -0.18px;
  }
}
.text___4Tr54 {
  color: var(--token-SVxpiTsWaARq);
  text-align: left;
  font-size: var(--token-jFIU8MB4m-vt);
  font-family: var(--token-dDzrSlQjRY1Q);
  line-height: var(--token-fO4amTcSAAaU);
  letter-spacing: -0.18px;
  width: auto;
  padding: 8px 8px 8px 0px;
}
@media (max-width: 1280px) {
  .text___4Tr54 {
    letter-spacing: -0.14px;
    font-size: var(--token-asQBbjhey31o);
    line-height: var(--token-892wPaHWClXl);
  }
}
@media (max-width: 414px) {
  .text___4Tr54 {
    font-size: var(--token-g18-76_42RxZ);
    letter-spacing: -0.13px;
    line-height: var(--token-8sQbB6Ab6p7O);
  }
}
.freeBox__rvnB2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: auto;
  max-width: 100%;
  overflow: hidden;
  padding: 8px;
}
@media (max-width: 1280px) {
  .freeBox__rvnB2 {
    align-items: center;
    justify-content: center;
    padding: 0px;
  }
}
@media (max-width: 834px) {
  .freeBox__rvnB2 {
    align-items: stretch;
    justify-content: center;
    width: 100%;
    display: flex;
    flex-direction: row;
    height: auto;
    flex-wrap: nowrap;
    align-content: stretch;
    min-width: 0;
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox__rvnB2 {
    height: 40vh;
  }
}
.freeBox__jhxFv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 834px) {
  .freeBox__jhxFv {
    align-self: center;
    width: 70%;
    height: 100%;
    min-height: 0;
  }
}
@media (max-width: 414px) {
  .freeBox__jhxFv {
    width: 100%;
  }
}
.img__mLtIy {
  max-width: 100%;
  object-fit: cover;
}
.img__mLtIy > picture > img {
  object-fit: cover;
}
@media (max-width: 834px) {
  .img__mLtIy {
    object-fit: fill;
  }
}
@media (max-width: 834px) {
  .img__mLtIy > picture > img {
    object-fit: fill;
  }
}
@media (max-width: 414px) {
  .img__mLtIy {
    object-fit: contain;
  }
}
@media (max-width: 414px) {
  .img__mLtIy > picture > img {
    object-fit: contain;
  }
}
.freeBox__h4RB6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 180vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0vh 15% 0px var(--token-bEWg0HhLsmkm);
}
@media (max-width: 1280px) {
  .freeBox__h4RB6 {
    padding-left: var(--token-_wgRLw0QAhYd);
    padding-right: 15%;
  }
}
@media (max-width: 834px) {
  .freeBox__h4RB6 {
    z-index: 2;
    background: linear-gradient(
        0deg,
        var(--token-bGg_0TkxNshv) 0%,
        var(--token-_NHLSimpt97D) 17%
      )
      0% 0% / 100% 100% repeat;
    height: 50vh;
    padding: 2vh var(--token-uQZCuQSjiRfZ) 2vh var(--token-WVvR06wQ3TL6);
  }
}
@media (max-width: 414px) {
  .freeBox__h4RB6 {
    padding-left: var(--token-A5AXXsEFUmEB);
    padding-right: var(--token-A5AXXsEFUmEB);
    height: 50vh;
    background: linear-gradient(
        0deg,
        var(--token-bGg_0TkxNshv) 26%,
        var(--token-_NHLSimpt97D) 42%
      )
      0% 0% / 100% 100% repeat;
    flex-shrink: 0;
  }
}
.text__qesW {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-dDzrSlQjRY1Q);
  font-size: var(--token-QWd97N2CFUpP);
  color: var(--token-SVxpiTsWaARq);
  line-height: var(--token-KlTF7dFEYqi7);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  padding: 5px;
}
@media (max-width: 1280px) {
  .text__qesW {
    font-size: var(--token-xAWPHlfOiFAL);
    line-height: var(--token-mOJ06ub79zmc);
    padding: 10px 0px 0px;
  }
}
@media (max-width: 834px) {
  .text__qesW {
    font-size: var(--token-J2rbMU7PP8d6);
    line-height: var(--token-Y6invZeH2Eiw);
  }
}
@media (max-width: 414px) {
  .text__qesW {
    font-size: var(--token-F6RLyq0hUvcp);
    line-height: var(--token-AgIACmvWYzqd);
    letter-spacing: -0.27px;
    padding: 40px 0px 0px;
  }
}
.freeBox__kenTr {
  background: none;
  width: 100%;
  height: auto;
  display: grid;
  position: relative;
  top: auto;
  left: auto;
  flex-grow: 1;
  justify-self: center;
  flex-shrink: 1;
  z-index: 2;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px var(--token-bEWg0HhLsmkm);
  margin: 0px;
}
@media (max-width: 1280px) {
  .freeBox__kenTr {
    padding-left: var(--token-_wgRLw0QAhYd);
    padding-right: 15%;
  }
}
@media (max-width: 834px) {
  .freeBox__kenTr {
    padding-left: 5%;
    padding-right: 5%;
    background: var(--token-bGg_0TkxNshv);
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
@media (max-width: 414px) {
  .freeBox__kenTr {
    padding-left: 5%;
    padding-right: 5%;
    height: auto;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    align-self: center;
  }
}
.freeBox__rlZor {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 834px) {
  .freeBox__rlZor {
    justify-content: center;
    align-items: center;
  }
}
.freeBox__pV0TZ {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (max-width: 834px) {
  .freeBox__pV0TZ {
    width: 70%;
  }
}
@media (max-width: 414px) {
  .freeBox__pV0TZ {
    width: 100%;
  }
}
.img__oid1A {
  object-fit: cover;
  max-width: 100%;
}
.img__oid1A > picture > img {
  object-fit: cover;
}
.freeBox__zbrR4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (max-width: 834px) {
  .freeBox__zbrR4 {
    padding: 0px;
  }
}
@media (max-width: 414px) {
  .freeBox__zbrR4 {
    height: auto;
  }
}
.text__is9Ii {
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-dDzrSlQjRY1Q);
  font-size: var(--token-z6CtvJ3PQ9AF);
  padding-left: 0px;
  color: var(--token-SVxpiTsWaARq);
  letter-spacing: -0.32px;
  line-height: var(--token-OB5VOhztYx7g);
}
@media (max-width: 1280px) {
  .text__is9Ii {
    letter-spacing: -0.24px;
    font-size: var(--token-08r3RLu0ffOg);
    line-height: var(--token-gs4NytFbbacJ);
  }
}
@media (max-width: 414px) {
  .text__is9Ii {
    font-size: var(--token-eYAWRyyKY2wH);
    line-height: var(--token-rJwSNer90YUR);
    letter-spacing: -0.18px;
  }
}
.text__vm60J {
  color: var(--token-SVxpiTsWaARq);
  text-align: left;
  font-size: var(--token-jFIU8MB4m-vt);
  font-family: var(--token-dDzrSlQjRY1Q);
  line-height: var(--token-fO4amTcSAAaU);
  letter-spacing: -0.18px;
  width: auto;
  padding: 8px 8px 8px 0px;
}
@media (max-width: 1280px) {
  .text__vm60J {
    letter-spacing: -0.14px;
    font-size: var(--token-asQBbjhey31o);
    line-height: var(--token-892wPaHWClXl);
  }
}
@media (max-width: 414px) {
  .text__vm60J {
    font-size: var(--token-g18-76_42RxZ);
    letter-spacing: -0.13px;
    line-height: var(--token-8sQbB6Ab6p7O);
  }
}
.buttonExternalLink__jd0C6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 10px;
  margin-left: 0px;
}
.freeBox__x771D {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 180vh;
  max-width: 100%;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0vh 10% 0px var(--token-bEWg0HhLsmkm);
}
@media (max-width: 1280px) {
  .freeBox__x771D {
    padding-left: var(--token-_wgRLw0QAhYd);
    padding-right: 15%;
  }
}
@media (max-width: 834px) {
  .freeBox__x771D {
    background: linear-gradient(
        0deg,
        var(--token-bGg_0TkxNshv) 0%,
        var(--token-_NHLSimpt97D) 25%,
        var(--token-_NHLSimpt97D) 76%,
        var(--token-bGg_0TkxNshv) 100%
      )
      0% 0% / 100% 100% repeat;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 50vh;
    padding: 2vh var(--token-uQZCuQSjiRfZ) 2vh var(--token-WVvR06wQ3TL6);
  }
}
@media (max-width: 414px) {
  .freeBox__x771D {
    padding-left: 10px;
    padding-right: 5%;
    height: 50vh;
    background: linear-gradient(
        0deg,
        var(--token-bGg_0TkxNshv) 20%,
        var(--token-_NHLSimpt97D) 35%,
        var(--token-_NHLSimpt97D) 80%,
        var(--token-bGg_0TkxNshv) 100%
      )
      0% 0% / 100% 100% repeat;
    flex-shrink: 0;
  }
}
.text__jlQBp {
  position: sticky;
  width: auto;
  height: auto;
  max-width: 100%;
  font-family: var(--token-dDzrSlQjRY1Q);
  font-size: var(--token-QWd97N2CFUpP);
  color: var(--token-SVxpiTsWaARq);
  line-height: var(--token-KlTF7dFEYqi7);
  letter-spacing: -0.45px;
  left: 0px;
  top: 0px;
  z-index: 1;
  text-align: left;
  padding: 5px 0px 0px;
}
@media (max-width: 1280px) {
  .text__jlQBp {
    font-size: var(--token-xAWPHlfOiFAL);
    line-height: var(--token-mOJ06ub79zmc);
    padding: 10px 0px 0px;
  }
}
@media (max-width: 834px) {
  .text__jlQBp {
    font-size: var(--token-J2rbMU7PP8d6);
    line-height: var(--token-Y6invZeH2Eiw);
  }
}
@media (max-width: 414px) {
  .text__jlQBp {
    font-size: var(--token-F6RLyq0hUvcp);
    letter-spacing: -0.27px;
    line-height: var(--token-AgIACmvWYzqd);
    padding: 40px 0px 0px;
  }
}
.freeBox__hEnlP {
  background: none;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  top: auto;
  left: auto;
  flex-direction: column;
  flex-grow: 1;
  justify-self: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: stretch;
  justify-content: space-between;
  flex-shrink: 1;
  z-index: 2;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 0px 15% 2vh var(--token-bEWg0HhLsmkm);
  margin: 0px 0px 0vh;
}
@media (max-width: 1280px) {
  .freeBox__hEnlP {
    padding-left: var(--token-_wgRLw0QAhYd);
    padding-right: var(--token-_wgRLw0QAhYd);
  }
}
@media (max-width: 834px) {
  .freeBox__hEnlP {
    height: auto;
    align-items: center;
    justify-content: flex-start;
    background: var(--token-bGg_0TkxNshv);
    padding: 0px 5% 2vh;
  }
}
@media (max-width: 414px) {
  .freeBox__hEnlP {
    padding-left: 5%;
    padding-right: 5%;
    height: 100vh;
    flex-shrink: 0;
  }
}
.freeBox__rResq {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  min-height: 0;
  padding: 0px;
  margin: 0px;
}
@media (max-width: 834px) {
  .freeBox__rResq {
    justify-content: center;
    align-items: flex-start;
    height: auto;
  }
}
@media (max-width: 414px) {
  .freeBox__rResq {
    padding-right: 0%;
    padding-left: 0%;
  }
}
.freeBox__lajdq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  max-width: 100%;
  min-width: 0;
  min-height: 0;
  padding: 0px;
}
@media (max-width: 834px) {
  .freeBox__lajdq {
    align-items: center;
    justify-content: flex-start;
    height: auto;
  }
}
.columns___9343K {
  --plsmc-rc-col-gap: 0px;
}
.columns___9343K {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 16px 0px;
}
.columns___9343K > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns___9343K > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
@media (max-width: 834px) {
  .columns___9343K {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 834px) {
  .columns___9343K > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (max-width: 414px) {
  .columns___9343K {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 414px) {
  .columns___9343K > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___7T69X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__qlJi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-dDzrSlQjRY1Q);
  font-size: var(--token-z6CtvJ3PQ9AF);
  padding-left: 0px;
  color: var(--token-SVxpiTsWaARq);
  line-height: var(--token-OB5VOhztYx7g);
  letter-spacing: -0.32px;
  min-width: 0;
}
@media (max-width: 1280px) {
  .text__qlJi {
    font-size: var(--token-08r3RLu0ffOg);
    line-height: var(--token-gs4NytFbbacJ);
    letter-spacing: -0.24px;
  }
}
@media (max-width: 834px) {
  .text__qlJi {
    font-size: var(--token-J2rbMU7PP8d6);
  }
}
@media (max-width: 414px) {
  .text__qlJi {
    font-size: var(--token-eYAWRyyKY2wH);
    line-height: var(--token-rJwSNer90YUR);
    letter-spacing: -0.18px;
  }
}
.column__n8Nl1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text___6Poow {
  color: var(--token-SVxpiTsWaARq);
  text-align: left;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  font-size: var(--token-jFIU8MB4m-vt);
  font-family: var(--token-dDzrSlQjRY1Q);
  line-height: var(--token-fO4amTcSAAaU);
  letter-spacing: -0.18px;
  width: auto;
}
@media (max-width: 1280px) {
  .text___6Poow {
    font-size: var(--token-asQBbjhey31o);
    line-height: var(--token-892wPaHWClXl);
    letter-spacing: -0.14px;
  }
}
@media (max-width: 414px) {
  .text___6Poow {
    font-size: var(--token-g18-76_42RxZ);
    line-height: var(--token-8sQbB6Ab6p7O);
    letter-spacing: -0.13px;
    padding-top: 5px;
  }
}
.columns__eT2Go {
  --plsmc-rc-col-gap: 0px;
}
.columns__eT2Go {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 16px 0px;
}
.columns__eT2Go > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__eT2Go > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
@media (max-width: 834px) {
  .columns__eT2Go {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 834px) {
  .columns__eT2Go > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (max-width: 414px) {
  .columns__eT2Go {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 414px) {
  .columns__eT2Go > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__fntp4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__shdHu {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-dDzrSlQjRY1Q);
  font-size: var(--token-z6CtvJ3PQ9AF);
  padding-left: 0px;
  color: var(--token-SVxpiTsWaARq);
  line-height: var(--token-OB5VOhztYx7g);
  letter-spacing: -0.32px;
  min-width: 0;
}
@media (max-width: 1280px) {
  .text__shdHu {
    letter-spacing: -0.24px;
    font-size: var(--token-08r3RLu0ffOg);
    line-height: var(--token-gs4NytFbbacJ);
  }
}
@media (max-width: 834px) {
  .text__shdHu {
    font-size: var(--token-J2rbMU7PP8d6);
  }
}
@media (max-width: 414px) {
  .text__shdHu {
    font-size: var(--token-eYAWRyyKY2wH);
    letter-spacing: -0.18px;
    line-height: var(--token-rJwSNer90YUR);
  }
}
.column__lgRc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__z04K {
  color: var(--token-SVxpiTsWaARq);
  text-align: left;
  font-size: var(--token-jFIU8MB4m-vt);
  font-family: var(--token-dDzrSlQjRY1Q);
  line-height: var(--token-fO4amTcSAAaU);
  letter-spacing: -0.18px;
  width: auto;
  position: relative;
  left: auto;
  top: auto;
  padding: 0px;
}
@media (max-width: 1280px) {
  .text__z04K {
    line-height: var(--token-892wPaHWClXl);
    font-size: var(--token-asQBbjhey31o);
    letter-spacing: -0.14px;
  }
}
@media (max-width: 414px) {
  .text__z04K {
    font-size: var(--token-g18-76_42RxZ);
    letter-spacing: -0.13px;
    line-height: var(--token-8sQbB6Ab6p7O);
    padding-top: 5px;
  }
}
.columns__ejBwH {
  --plsmc-rc-col-gap: 0px;
}
.columns__ejBwH {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 16px 0px;
}
.columns__ejBwH > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 4 / 12);
}
.columns__ejBwH > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 8 / 12);
}
@media (max-width: 834px) {
  .columns__ejBwH {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 834px) {
  .columns__ejBwH > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
@media (max-width: 414px) {
  .columns__ejBwH {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (max-width: 414px) {
  .columns__ejBwH > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__zHp7J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text___56PKm {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-dDzrSlQjRY1Q);
  font-size: var(--token-z6CtvJ3PQ9AF);
  padding-left: 0px;
  color: var(--token-SVxpiTsWaARq);
  line-height: var(--token-OB5VOhztYx7g);
  letter-spacing: -0.32px;
  min-width: 0;
}
@media (max-width: 1280px) {
  .text___56PKm {
    letter-spacing: -0.24px;
    font-size: var(--token-08r3RLu0ffOg);
    line-height: var(--token-gs4NytFbbacJ);
  }
}
@media (max-width: 834px) {
  .text___56PKm {
    font-size: var(--token-J2rbMU7PP8d6);
  }
}
@media (max-width: 414px) {
  .text___56PKm {
    font-size: var(--token-eYAWRyyKY2wH);
    letter-spacing: -0.18px;
    line-height: var(--token-rJwSNer90YUR);
  }
}
.column___2Tg7B {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__aOruz {
  color: var(--token-SVxpiTsWaARq);
  text-align: left;
  font-size: var(--token-jFIU8MB4m-vt);
  font-family: var(--token-dDzrSlQjRY1Q);
  line-height: var(--token-fO4amTcSAAaU);
  letter-spacing: -0.18px;
  width: auto;
  padding: 0px;
}
@media (max-width: 1280px) {
  .text__aOruz {
    font-size: var(--token-asQBbjhey31o);
    line-height: var(--token-892wPaHWClXl);
    letter-spacing: -0.14px;
  }
}
@media (max-width: 414px) {
  .text__aOruz {
    font-size: var(--token-g18-76_42RxZ);
    letter-spacing: -0.13px;
    line-height: var(--token-8sQbB6Ab6p7O);
    padding-top: 5px;
  }
}
.imageFooter:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  z-index: 2;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
}
@media (max-width: 414px) {
  .imageFooter:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.hiderHeadlines:global(.__wab_instance) {
  position: fixed;
  top: auto;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
@media (max-width: 414px) {
  .hiderHeadlines:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
