@import url("https://fonts.googleapis.com/css2?family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-bGg_0TkxNshv: #222222;
  --plasmic-token-main: var(--token-bGg_0TkxNshv);
  --token-UmlGrLpqgWeU: #3c3c3c;
  --plasmic-token-second: var(--token-UmlGrLpqgWeU);
  --token-ALmNYPANzpJB: #56bd77;
  --plasmic-token-green: var(--token-ALmNYPANzpJB);
  --token-SVxpiTsWaARq: #d9d9d9;
  --plasmic-token-white: var(--token-SVxpiTsWaARq);
  --token-_NHLSimpt97D: #bd565600;
  --plasmic-token-transparent: var(--token-_NHLSimpt97D);
  --token-dDzrSlQjRY1Q: ABC Diatype;
  --plasmic-token-bs-font: var(--token-dDzrSlQjRY1Q);
  --token-ElOYelXEOq__: 26px;
  --plasmic-token-normal: var(--token-ElOYelXEOq__);
  --token-QWd97N2CFUpP: 2.6vw;
  --plasmic-token-subheader: var(--token-QWd97N2CFUpP);
  --token-ykp4aMLoQYqR: 14px;
  --plasmic-token-small: var(--token-ykp4aMLoQYqR);
  --token-z6CtvJ3PQ9AF: 1.7vw;
  --plasmic-token-paragraph-header: var(--token-z6CtvJ3PQ9AF);
  --token-jFIU8MB4m-vt: 18px;
  --plasmic-token-paragraph-medium: var(--token-jFIU8MB4m-vt);
  --token-9SKxXnRyv9Oo: 26px;
  --plasmic-token-paragraph-large: var(--token-9SKxXnRyv9Oo);
  --token-KlTF7dFEYqi7: 45px;
  --plasmic-token-subheader-h: var(--token-KlTF7dFEYqi7);
  --token-R4ydVHgDbagl: 28.6px;
  --plasmic-token-normal-h: var(--token-R4ydVHgDbagl);
  --token-yJVQ_UxwCJ01: #fafafa;
  --plasmic-token-build-white: var(--token-yJVQ_UxwCJ01);
  --token-lHoim2Om7XW5: 24.2px;
  --plasmic-token-small-h: var(--token-lHoim2Om7XW5);
  --token-fQSm752URrBa: 21px;
  --plasmic-token-paragraph-large-h: var(--token-fQSm752URrBa);
  --token-fO4amTcSAAaU: 19.8px;
  --plasmic-token-paragraph-medium-h: var(--token-fO4amTcSAAaU);
  --token-OB5VOhztYx7g: 36px;
  --plasmic-token-paragraph-header-h: var(--token-OB5VOhztYx7g);
  --token-m2pYP4iuLdNE: 158px;
  --plasmic-token-1-cell: var(--token-m2pYP4iuLdNE);
  --token-bEWg0HhLsmkm: 315px;
  --plasmic-token-2-cells: var(--token-bEWg0HhLsmkm);
  --token-DJi6LsYb_27c: #ebebeb;
  --plasmic-token-second-white: var(--token-DJi6LsYb_27c);
  --token-A5AXXsEFUmEB: 10px;
  --plasmic-token-mobile-site: var(--token-A5AXXsEFUmEB);
  --token-F6RLyq0hUvcp: 27px;
  --plasmic-token-subheader-h-mob: var(--token-F6RLyq0hUvcp);
  --token-cgi-VVXu9B8k: 15px;
  --plasmic-token-normal-mobile: var(--token-cgi-VVXu9B8k);
  --token-L-BE0S2Nnx-V: 10px;
  --plasmic-token-small-m: var(--token-L-BE0S2Nnx-V);
  --token-eYAWRyyKY2wH: 18px;
  --plasmic-token-paragraph-header-mobile: var(--token-eYAWRyyKY2wH);
  --token-g18-76_42RxZ: 16px;
  --plasmic-token-paragraph-medium-mobile: var(--token-g18-76_42RxZ);
  --token-AgIACmvWYzqd: 1.5;
  --plasmic-token-subheader-h-m: var(--token-AgIACmvWYzqd);
  --token-6WAQQzl2D8xY: 16.5px;
  --plasmic-token-normal-m: var(--token-6WAQQzl2D8xY);
  --token-8sQbB6Ab6p7O: 1.5;
  --plasmic-token-paragraph-medium-h-m: var(--token-8sQbB6Ab6p7O);
  --token-rJwSNer90YUR: 1.5;
  --plasmic-token-paragraph-header-h-m: var(--token-rJwSNer90YUR);
  --token-mOJ06ub79zmc: 1.5;
  --plasmic-token-subheader-sd-h: var(--token-mOJ06ub79zmc);
  --token-xAWPHlfOiFAL: 16px;
  --plasmic-token-subheader-sd: var(--token-xAWPHlfOiFAL);
  --token-N5NhUUm9Uc9E: 16px;
  --plasmic-token-normal-sd: var(--token-N5NhUUm9Uc9E);
  --token-fCtWSYd3eajl: 1.5;
  --plasmic-token-normal-sd-h: var(--token-fCtWSYd3eajl);
  --token-HSVcSAaSj48l: 1px;
  --plasmic-token-1-cell-sd: var(--token-HSVcSAaSj48l);
  --token-_wgRLw0QAhYd: 1px;
  --plasmic-token-2-cells-sd: var(--token-_wgRLw0QAhYd);
  --token-J2rbMU7PP8d6: 16px;
  --plasmic-token-subheader-i-pad: var(--token-J2rbMU7PP8d6);
  --token-Y6invZeH2Eiw: 1.5;
  --plasmic-token-subheader-i-pad-h: var(--token-Y6invZeH2Eiw);
  --token-WVvR06wQ3TL6: 2ch;
  --plasmic-token-3-cells-i-pad: var(--token-WVvR06wQ3TL6);
  --token-uQZCuQSjiRfZ: 1ch;
  --plasmic-token-1-cell-i-pad: var(--token-uQZCuQSjiRfZ);
  --token-4--8VrVTttwh: 16px;
  --plasmic-token-normal-i-pad: var(--token-4--8VrVTttwh);
  --token-jXjYXy0S7lfy: 1.5;
  --plasmic-token-normal-i-pad-h: var(--token-jXjYXy0S7lfy);
  --token-08r3RLu0ffOg: 16px;
  --plasmic-token-paragraph-header-sd: var(--token-08r3RLu0ffOg);
  --token-gs4NytFbbacJ: 1.5;
  --plasmic-token-paragraph-header-sd-2: var(--token-gs4NytFbbacJ);
  --token-asQBbjhey31o: 16px;
  --plasmic-token-paragraph-medium-sd: var(--token-asQBbjhey31o);
  --token-892wPaHWClXl: 1.5;
  --plasmic-token-paragraph-medium-sd-2: var(--token-892wPaHWClXl);
  --token-Y7TkzQf2MHjT: 1px;
  --plasmic-token-2-cells-i-pad: var(--token-Y7TkzQf2MHjT);
  --token-V48fm7lki7Mz: 20px;
  --plasmic-token-partners-h: var(--token-V48fm7lki7Mz);
  --token--gas6UyhXHWw: 8px;
  --plasmic-token-partners-v: var(--token--gas6UyhXHWw);
  --token-FM1CgS_Ej5MJ: 0.8;
  --plasmic-token-partner: var(--token-FM1CgS_Ej5MJ);
  --token-XWLQEcgeIoWc: var(--token-FM1CgS_Ej5MJ);
  --plasmic-token-partner-2: var(--token-XWLQEcgeIoWc);
  --token-gb8HVYZCvrqw: 3px;
  --plasmic-token-partner-mobile: var(--token-gb8HVYZCvrqw);
}

@media (max-width: 1280px) {
  .plasmic_tokens {
    --token-_NHLSimpt97D: #22222200;
    --plasmic-token-transparent: var(--token-_NHLSimpt97D);
    --token-m2pYP4iuLdNE: 8.3vw;
    --plasmic-token-1-cell: var(--token-m2pYP4iuLdNE);
    --token-bEWg0HhLsmkm: 16.7vw;
    --plasmic-token-2-cells: var(--token-bEWg0HhLsmkm);
    --token-mOJ06ub79zmc: 2.7vw;
    --plasmic-token-subheader-sd-h: var(--token-mOJ06ub79zmc);
    --token-xAWPHlfOiFAL: 2.5vw;
    --plasmic-token-subheader-sd: var(--token-xAWPHlfOiFAL);
    --token-N5NhUUm9Uc9E: 20px;
    --plasmic-token-normal-sd: var(--token-N5NhUUm9Uc9E);
    --token-fCtWSYd3eajl: 22px;
    --plasmic-token-normal-sd-h: var(--token-fCtWSYd3eajl);
    --token-HSVcSAaSj48l: 110px;
    --plasmic-token-1-cell-sd: var(--token-HSVcSAaSj48l);
    --token-_wgRLw0QAhYd: 224px;
    --plasmic-token-2-cells-sd: var(--token-_wgRLw0QAhYd);
    --token-08r3RLu0ffOg: 24px;
    --plasmic-token-paragraph-header-sd: var(--token-08r3RLu0ffOg);
    --token-gs4NytFbbacJ: 36px;
    --plasmic-token-paragraph-header-sd-2: var(--token-gs4NytFbbacJ);
    --token-asQBbjhey31o: 14px;
    --plasmic-token-paragraph-medium-sd: var(--token-asQBbjhey31o);
    --token-892wPaHWClXl: 15.4px;
    --plasmic-token-paragraph-medium-sd-2: var(--token-892wPaHWClXl);
  }
}

@media (max-width: 834px) {
  .plasmic_tokens {
    --token-_NHLSimpt97D: #22222200;
    --plasmic-token-transparent: var(--token-_NHLSimpt97D);
    --token-J2rbMU7PP8d6: 3.3vw;
    --plasmic-token-subheader-i-pad: var(--token-J2rbMU7PP8d6);
    --token-Y6invZeH2Eiw: 4vw;
    --plasmic-token-subheader-i-pad-h: var(--token-Y6invZeH2Eiw);
    --token-WVvR06wQ3TL6: 200px;
    --plasmic-token-3-cells-i-pad: var(--token-WVvR06wQ3TL6);
    --token-uQZCuQSjiRfZ: 68px;
    --plasmic-token-1-cell-i-pad: var(--token-uQZCuQSjiRfZ);
    --token-4--8VrVTttwh: 16px;
    --plasmic-token-normal-i-pad: var(--token-4--8VrVTttwh);
    --token-jXjYXy0S7lfy: 16px;
    --plasmic-token-normal-i-pad-h: var(--token-jXjYXy0S7lfy);
    --token-Y7TkzQf2MHjT: 140px;
    --plasmic-token-2-cells-i-pad: var(--token-Y7TkzQf2MHjT);
  }
}

@media (max-width: 414px) {
  .plasmic_tokens {
    --token-A5AXXsEFUmEB: 10px;
    --plasmic-token-mobile-site: var(--token-A5AXXsEFUmEB);
    --token-F6RLyq0hUvcp: 5vw;
    --plasmic-token-subheader-h-mob: var(--token-F6RLyq0hUvcp);
    --token-g18-76_42RxZ: 13px;
    --plasmic-token-paragraph-medium-mobile: var(--token-g18-76_42RxZ);
    --token-AgIACmvWYzqd: 6vw;
    --plasmic-token-subheader-h-m: var(--token-AgIACmvWYzqd);
    --token-8sQbB6Ab6p7O: 14.3px;
    --plasmic-token-paragraph-medium-h-m: var(--token-8sQbB6Ab6p7O);
    --token-rJwSNer90YUR: 18.7px;
    --plasmic-token-paragraph-header-h-m: var(--token-rJwSNer90YUR);
  }
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-57ArJ9XDZGUO_font-family: "ABC Diatype";
  --mixin-57ArJ9XDZGUO_font-size: 20px;
  --mixin-57ArJ9XDZGUO_font-weight: 400;
  --mixin-57ArJ9XDZGUO_color: var(--token-SVxpiTsWaARq);
  --mixin-57ArJ9XDZGUO_text-align: left;
  --mixin-57ArJ9XDZGUO_text-transform: none;
  --mixin-57ArJ9XDZGUO_line-height: 21px;
  --mixin-57ArJ9XDZGUO_letter-spacing: -0.26px;
  --mixin-57ArJ9XDZGUO_white-space: pre-wrap;
  --mixin-57ArJ9XDZGUO_user-select: text;
  --mixin-57ArJ9XDZGUO_text-decoration-line: none;
  --mixin-57ArJ9XDZGUO_font-style: normal;
  --mixin-tBcqIu8VMaQR_color: var(--token-SVxpiTsWaARq);
  --mixin-tBcqIu8VMaQR_font-weight: 400;
  --mixin-tBcqIu8VMaQR_font-size: 20px;
  --mixin-tBcqIu8VMaQR_line-height: 21;
  --mixin-tBcqIu8VMaQR_letter-spacing: -0.26px;
  --mixin-tBcqIu8VMaQR_font-family: "ABC Diatype Mono";
  --mixin-tBcqIu8VMaQR_white-space: pre-wrap;
  --mixin-z331maiy-kYk_color: #000000;
  --mixin-z331maiy-kYk_font-size: 48px;
  --mixin-z331maiy-kYk_font-weight: 700;
  --mixin-z331maiy-kYk_letter-spacing: -0.5px;
  --mixin-z331maiy-kYk_line-height: 1.1;
  --mixin-z331maiy-kYk_white-space: pre-wrap;
  --mixin-Wc0CIm4aSmuD_color: #0070f3;
  --mixin-Wc0CIm4aSmuD_white-space: pre-wrap;
  --mixin-9VrKZCV5aJaV_color: #000000;
  --mixin-9VrKZCV5aJaV_font-size: 32px;
  --mixin-9VrKZCV5aJaV_font-weight: 600;
  --mixin-9VrKZCV5aJaV_line-height: 1.2;
  --mixin-9VrKZCV5aJaV_white-space: pre-wrap;
  --mixin-LDsRF0btgT9r_color: #000000;
  --mixin-LDsRF0btgT9r_font-size: 24px;
  --mixin-LDsRF0btgT9r_font-weight: 600;
  --mixin-LDsRF0btgT9r_letter-spacing: -0.5px;
  --mixin-LDsRF0btgT9r_line-height: 1.3;
  --mixin-LDsRF0btgT9r_white-space: pre-wrap;
  --mixin-NLuB9Z-Lvcma_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-NLuB9Z-Lvcma_border-bottom-color: #dddddd;
  --mixin-NLuB9Z-Lvcma_border-bottom-style: solid;
  --mixin-NLuB9Z-Lvcma_border-bottom-width: 1px;
  --mixin-NLuB9Z-Lvcma_border-left-color: #dddddd;
  --mixin-NLuB9Z-Lvcma_border-left-style: solid;
  --mixin-NLuB9Z-Lvcma_border-left-width: 1px;
  --mixin-NLuB9Z-Lvcma_border-right-color: #dddddd;
  --mixin-NLuB9Z-Lvcma_border-right-style: solid;
  --mixin-NLuB9Z-Lvcma_border-right-width: 1px;
  --mixin-NLuB9Z-Lvcma_border-top-color: #dddddd;
  --mixin-NLuB9Z-Lvcma_border-top-style: solid;
  --mixin-NLuB9Z-Lvcma_border-top-width: 1px;
  --mixin-NLuB9Z-Lvcma_border-bottom-left-radius: 3px;
  --mixin-NLuB9Z-Lvcma_border-bottom-right-radius: 3px;
  --mixin-NLuB9Z-Lvcma_border-top-left-radius: 3px;
  --mixin-NLuB9Z-Lvcma_border-top-right-radius: 3px;
  --mixin-NLuB9Z-Lvcma_font-family: "Inconsolata";
  --mixin-NLuB9Z-Lvcma_padding-bottom: 1px;
  --mixin-NLuB9Z-Lvcma_padding-left: 4px;
  --mixin-NLuB9Z-Lvcma_padding-right: 4px;
  --mixin-NLuB9Z-Lvcma_padding-top: 1px;
  --mixin-NLuB9Z-Lvcma_white-space: pre-wrap;
  --mixin-MQwVtoWG6Rhl_border-left-color: #dddddd;
  --mixin-MQwVtoWG6Rhl_border-left-style: solid;
  --mixin-MQwVtoWG6Rhl_border-left-width: 3px;
  --mixin-MQwVtoWG6Rhl_color: #888888;
  --mixin-MQwVtoWG6Rhl_padding-left: 10px;
  --mixin-MQwVtoWG6Rhl_white-space: pre-wrap;
  --mixin-gXh2TXjAWF9S_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-gXh2TXjAWF9S_border-bottom-color: #dddddd;
  --mixin-gXh2TXjAWF9S_border-bottom-style: solid;
  --mixin-gXh2TXjAWF9S_border-bottom-width: 1px;
  --mixin-gXh2TXjAWF9S_border-left-color: #dddddd;
  --mixin-gXh2TXjAWF9S_border-left-style: solid;
  --mixin-gXh2TXjAWF9S_border-left-width: 1px;
  --mixin-gXh2TXjAWF9S_border-right-color: #dddddd;
  --mixin-gXh2TXjAWF9S_border-right-style: solid;
  --mixin-gXh2TXjAWF9S_border-right-width: 1px;
  --mixin-gXh2TXjAWF9S_border-top-color: #dddddd;
  --mixin-gXh2TXjAWF9S_border-top-style: solid;
  --mixin-gXh2TXjAWF9S_border-top-width: 1px;
  --mixin-gXh2TXjAWF9S_border-bottom-left-radius: 3px;
  --mixin-gXh2TXjAWF9S_border-bottom-right-radius: 3px;
  --mixin-gXh2TXjAWF9S_border-top-left-radius: 3px;
  --mixin-gXh2TXjAWF9S_border-top-right-radius: 3px;
  --mixin-gXh2TXjAWF9S_font-family: "Inconsolata";
  --mixin-gXh2TXjAWF9S_padding-bottom: 3px;
  --mixin-gXh2TXjAWF9S_padding-left: 6px;
  --mixin-gXh2TXjAWF9S_padding-right: 6px;
  --mixin-gXh2TXjAWF9S_padding-top: 3px;
  --mixin-gXh2TXjAWF9S_white-space: pre-wrap;
  --mixin-5cX_-B4MkjPb_display: flex;
  --mixin-5cX_-B4MkjPb_flex-direction: column;
  --mixin-5cX_-B4MkjPb_align-items: stretch;
  --mixin-5cX_-B4MkjPb_justify-content: flex-start;
  --mixin-5cX_-B4MkjPb_list-style-position: outside;
  --mixin-5cX_-B4MkjPb_padding-left: 40px;
  --mixin-5cX_-B4MkjPb_position: relative;
  --mixin-5cX_-B4MkjPb_list-style-type: disc;
  --mixin-5cX_-B4MkjPb_white-space: pre-wrap;
  --mixin-kqPcRu2lWwLU_display: flex;
  --mixin-kqPcRu2lWwLU_flex-direction: column;
  --mixin-kqPcRu2lWwLU_align-items: stretch;
  --mixin-kqPcRu2lWwLU_justify-content: flex-start;
  --mixin-kqPcRu2lWwLU_list-style-position: outside;
  --mixin-kqPcRu2lWwLU_padding-left: 40px;
  --mixin-kqPcRu2lWwLU_position: relative;
  --mixin-kqPcRu2lWwLU_list-style-type: decimal;
  --mixin-kqPcRu2lWwLU_white-space: pre-wrap;
  --mixin-Zr6pAqXiXxsi_color: #000000;
  --mixin-Zr6pAqXiXxsi_font-size: 20px;
  --mixin-Zr6pAqXiXxsi_font-weight: 600;
  --mixin-Zr6pAqXiXxsi_letter-spacing: -0.3px;
  --mixin-Zr6pAqXiXxsi_line-height: 1.5;
  --mixin-Zr6pAqXiXxsi_white-space: pre-wrap;
  --mixin-rBGQ_EL6dE-Y_color: #000000;
  --mixin-rBGQ_EL6dE-Y_font-size: 16px;
  --mixin-rBGQ_EL6dE-Y_font-weight: 600;
  --mixin-rBGQ_EL6dE-Y_line-height: 1.5;
  --mixin-rBGQ_EL6dE-Y_white-space: pre-wrap;
  --mixin-ETUDV-_dWXhv_color: #3291ff;
  --mixin-ETUDV-_dWXhv_white-space: pre-wrap;
  --mixin-KyaPsj6aNVlz_white-space: pre-wrap;
  --mixin-u5YgiuDSFvsE_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-m_owk8m73H0X_white-space: pre-wrap;
  --plasmic-mixin-text_white-space: var(--mixin-m_owk8m73H0X_white-space);
  --mixin-9kHOL0J2UK5S_white-space: pre-wrap;
  --plasmic-mixin-unnamed-style-preset_white-space: var(
    --mixin-9kHOL0J2UK5S_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-57ArJ9XDZGUO_font-family);
  font-size: var(--mixin-57ArJ9XDZGUO_font-size);
  font-weight: var(--mixin-57ArJ9XDZGUO_font-weight);
  font-style: var(--mixin-57ArJ9XDZGUO_font-style);
  color: var(--mixin-57ArJ9XDZGUO_color);
  text-align: var(--mixin-57ArJ9XDZGUO_text-align);
  text-transform: var(--mixin-57ArJ9XDZGUO_text-transform);
  line-height: var(--mixin-57ArJ9XDZGUO_line-height);
  letter-spacing: var(--mixin-57ArJ9XDZGUO_letter-spacing);
  white-space: var(--mixin-57ArJ9XDZGUO_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-tBcqIu8VMaQR_color);
  font-weight: var(--mixin-tBcqIu8VMaQR_font-weight);
  font-size: var(--mixin-tBcqIu8VMaQR_font-size);
  line-height: var(--mixin-tBcqIu8VMaQR_line-height);
  letter-spacing: var(--mixin-tBcqIu8VMaQR_letter-spacing);
  font-family: var(--mixin-tBcqIu8VMaQR_font-family);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-z331maiy-kYk_color);
  font-size: var(--mixin-z331maiy-kYk_font-size);
  font-weight: var(--mixin-z331maiy-kYk_font-weight);
  letter-spacing: var(--mixin-z331maiy-kYk_letter-spacing);
  line-height: var(--mixin-z331maiy-kYk_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-Wc0CIm4aSmuD_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-9VrKZCV5aJaV_color);
  font-size: var(--mixin-9VrKZCV5aJaV_font-size);
  font-weight: var(--mixin-9VrKZCV5aJaV_font-weight);
  line-height: var(--mixin-9VrKZCV5aJaV_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-LDsRF0btgT9r_color);
  font-size: var(--mixin-LDsRF0btgT9r_font-size);
  font-weight: var(--mixin-LDsRF0btgT9r_font-weight);
  letter-spacing: var(--mixin-LDsRF0btgT9r_letter-spacing);
  line-height: var(--mixin-LDsRF0btgT9r_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-NLuB9Z-Lvcma_font-family);
  border-radius: var(--mixin-NLuB9Z-Lvcma_border-top-left-radius)
    var(--mixin-NLuB9Z-Lvcma_border-top-right-radius)
    var(--mixin-NLuB9Z-Lvcma_border-bottom-right-radius)
    var(--mixin-NLuB9Z-Lvcma_border-bottom-left-radius);
  padding: var(--mixin-NLuB9Z-Lvcma_padding-top)
    var(--mixin-NLuB9Z-Lvcma_padding-right)
    var(--mixin-NLuB9Z-Lvcma_padding-bottom)
    var(--mixin-NLuB9Z-Lvcma_padding-left);
  border-top: var(--mixin-NLuB9Z-Lvcma_border-top-width)
    var(--mixin-NLuB9Z-Lvcma_border-top-style)
    var(--mixin-NLuB9Z-Lvcma_border-top-color);
  border-right: var(--mixin-NLuB9Z-Lvcma_border-right-width)
    var(--mixin-NLuB9Z-Lvcma_border-right-style)
    var(--mixin-NLuB9Z-Lvcma_border-right-color);
  border-bottom: var(--mixin-NLuB9Z-Lvcma_border-bottom-width)
    var(--mixin-NLuB9Z-Lvcma_border-bottom-style)
    var(--mixin-NLuB9Z-Lvcma_border-bottom-color);
  border-left: var(--mixin-NLuB9Z-Lvcma_border-left-width)
    var(--mixin-NLuB9Z-Lvcma_border-left-style)
    var(--mixin-NLuB9Z-Lvcma_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-MQwVtoWG6Rhl_color);
  padding-left: var(--mixin-MQwVtoWG6Rhl_padding-left);
  border-left: var(--mixin-MQwVtoWG6Rhl_border-left-width)
    var(--mixin-MQwVtoWG6Rhl_border-left-style)
    var(--mixin-MQwVtoWG6Rhl_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-gXh2TXjAWF9S_font-family);
  border-radius: var(--mixin-gXh2TXjAWF9S_border-top-left-radius)
    var(--mixin-gXh2TXjAWF9S_border-top-right-radius)
    var(--mixin-gXh2TXjAWF9S_border-bottom-right-radius)
    var(--mixin-gXh2TXjAWF9S_border-bottom-left-radius);
  padding: var(--mixin-gXh2TXjAWF9S_padding-top)
    var(--mixin-gXh2TXjAWF9S_padding-right)
    var(--mixin-gXh2TXjAWF9S_padding-bottom)
    var(--mixin-gXh2TXjAWF9S_padding-left);
  border-top: var(--mixin-gXh2TXjAWF9S_border-top-width)
    var(--mixin-gXh2TXjAWF9S_border-top-style)
    var(--mixin-gXh2TXjAWF9S_border-top-color);
  border-right: var(--mixin-gXh2TXjAWF9S_border-right-width)
    var(--mixin-gXh2TXjAWF9S_border-right-style)
    var(--mixin-gXh2TXjAWF9S_border-right-color);
  border-bottom: var(--mixin-gXh2TXjAWF9S_border-bottom-width)
    var(--mixin-gXh2TXjAWF9S_border-bottom-style)
    var(--mixin-gXh2TXjAWF9S_border-bottom-color);
  border-left: var(--mixin-gXh2TXjAWF9S_border-left-width)
    var(--mixin-gXh2TXjAWF9S_border-left-style)
    var(--mixin-gXh2TXjAWF9S_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-5cX_-B4MkjPb_display);
  flex-direction: var(--mixin-5cX_-B4MkjPb_flex-direction);
  align-items: var(--mixin-5cX_-B4MkjPb_align-items);
  justify-content: var(--mixin-5cX_-B4MkjPb_justify-content);
  list-style-position: var(--mixin-5cX_-B4MkjPb_list-style-position);
  padding-left: var(--mixin-5cX_-B4MkjPb_padding-left);
  position: var(--mixin-5cX_-B4MkjPb_position);
  list-style-type: var(--mixin-5cX_-B4MkjPb_list-style-type);
  flex-column-gap: var(--mixin-5cX_-B4MkjPb_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-kqPcRu2lWwLU_display);
  flex-direction: var(--mixin-kqPcRu2lWwLU_flex-direction);
  align-items: var(--mixin-kqPcRu2lWwLU_align-items);
  justify-content: var(--mixin-kqPcRu2lWwLU_justify-content);
  list-style-position: var(--mixin-kqPcRu2lWwLU_list-style-position);
  padding-left: var(--mixin-kqPcRu2lWwLU_padding-left);
  position: var(--mixin-kqPcRu2lWwLU_position);
  list-style-type: var(--mixin-kqPcRu2lWwLU_list-style-type);
  flex-column-gap: var(--mixin-kqPcRu2lWwLU_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-Zr6pAqXiXxsi_color);
  font-size: var(--mixin-Zr6pAqXiXxsi_font-size);
  font-weight: var(--mixin-Zr6pAqXiXxsi_font-weight);
  letter-spacing: var(--mixin-Zr6pAqXiXxsi_letter-spacing);
  line-height: var(--mixin-Zr6pAqXiXxsi_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-rBGQ_EL6dE-Y_color);
  font-size: var(--mixin-rBGQ_EL6dE-Y_font-size);
  font-weight: var(--mixin-rBGQ_EL6dE-Y_font-weight);
  line-height: var(--mixin-rBGQ_EL6dE-Y_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-ETUDV-_dWXhv_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
